.grid-pager .btn-group {
    height:18px;
    font-size:12px;
  }
.grid-pager .btn {
   height:18px;
   font-size:8px;
   }
 .grid-pager .btn i {
   height:18px;
   font-size:10px;
    }
.grid-pager .btn.disabled {
  opacity: 1;

  }
.grid-pager .not-available {
  color: #ddd;
  }
.grid-pager > span {
  height:18px;
  font-size:12;
  }

 .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.grid-pager > input[type=text] {
  border-radius: 3px;
  background-color: #F9FAFB;
  background-image: none;
  color: #5C617B;
  resize: none;

  text-align: center;
  width: 33px;
  height: 18px;


  }
.grid-pager > .btn-turn {
 height: 18px;
border-color: #aaa;
margin: 4px;
font-size: 8px;

  }

.f-select {
  display: inline-block;

  border: 1px solid #ccc;
  color: #000 !important;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  outline: none;
  background-color: white;
  color: white;
  font-size:12px;
  border-radius: 4px;
   }

 .table thead tr:hover {
    background-color: #ecf2ff;
 }






