
<script>


    $(".ask_btn").click(function() {
     angular.element('.ask_btn').scope().open("qa/qs/add");
    });


<!--$(".question_title").click(function(){-->
         <!--id = $(this).attr("id")-->
         <!--console.log(id)-->
           <!--$.get("/qa/detail",{-->
                       <!--"question_id": id,-->
              <!--}, function(data){-->
                 <!--$(".panel").html(data);-->
      <!--});-->
  <!--});-->


</script>

<div class="panel panel-style" ng-controller="QaModalCtrl">
    <div class="panel-body">
        <div class="title-tag">
            <h3>在线答疑</h3>
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">用户{{ current_user }}</div>
        <div class="question-counts">提问数{{ q_counts}}</div>
        <div class="answer-counts">回答数{{ a_counts}}</div>
        <div class="comment-counts">评论数{{ c_counts}}</div>

            <button class="btn ask_btn">提问</button>

    </div>
    <div class="question-lists">
    <div class="views"></div>
    {% for qs in questions %}
        <div class="question_title" id="{{qs.id}}"><a href="/qa/detail?question_id={{qs.id}}" target="_blank">问题:{{ qs.name }}</a></div>
     <div class="question_user">提问者:{{ qs.author.name}}</div>
        <div class="question-create">create at {{ qs.create_time}}</div>
        <div class="answer-counts">{{ qs.answers_count }}个答案</div>
        <hr />




    {% endfor %}
    </div>
</div>
