
<script>


    $(".ask_btn").click(function() {
     angular.element('.ask_btn').scope().open("qa/qs/add");
    });


$(".question_title").click(function(){
         id = $(this).attr("id")
         console.log(id)
           $.get("/qa/detail",{
                       "question_id": id,
              }, function(data){
                 $(".panel").html(data);
      });
  });


</script>

<div class="panel panel-style" ng-controller="QaModalCtrl">
    <div class="panel-body">
        <div class="title-tag">
            <h3>课程信息</h3>
            <p>课程信息</p>
        </div>
    </div>
    <div class="user-info">
        <div class="user-name">用户{{ current_user }}</div>
        <div class="question-counts">提问数{{ q_counts}}</div>
        <div class="answer-counts">回答数{{ a_counts}}</div>
        <div class="comment-counts">评论数{{ c_counts}}</div>
        <div id="ask">
            <button class="btn ask_btn">提问</button>
        </div>
    </div>
    <div class="question-lists">
    <div class="views"></div>
    {% for qs in questions %}
    <div class="answer-counts">答案{{ qs.answers_count }}</div>
    <div class="question-create">创建于{{ qs.create_time}}</div>
    <div class="question_user">提问者{{ qs.author.name}}</div>
        <div class="question_title" id="{{qs.id}}">问题:{{ qs.name }}</div>

    {% endfor %}
    </div>
</div>
