<script>

    $(".search_button").click(function(){
              var key_name = $(".key_word_name").val()
              var key_number = $(".key_word_number").val()
              var key_semester = $(".key_word_semester").val()
              $.get("/search/unpass",{
                       "key_name":key_name,
                       "key_number":key_number,
                       "key_semester":key_semester,
              }, function(data){
                 $(".contentpanel").html(data)
});




    })
</script>

<div class="search_from">
    <input class="key_word_name" type="text" placeholder="name">
    <input class="key_word_number" type="text" placeholder="number">
    <input class="key_word_semester" type="text" placeholder="semester">
    <button class="btn btn-blue search_button">search</button>
    <div class="receicve">

        <table class="grade_table">
        <tr>
            <td>课程号</td>
            <td>课程</td>
            <td>成绩</td>
            <td>课程类型</td>
            <td>xueqi</td>
        </tr>

              {% for l in Ls %}

             <tr>
                 <td>{{l.course_number}}</td>
                 <td>{{l.course_name}}</td>
                 <td>{{l.grade}}</td>
                 <td>{{l.course_type}}</td>
                 <td>{{l.semester }}</td>
             </tr>
    {% endfor %}

        </table>



</div>
