<script>

    $(".search_button").click(function(){
              var key_name = $(".key_word_name").val()
              var key_number = $(".key_word_number").val()
              var key_semester = $(".key_word_semester").val()
              var key_class = $(".key_class_").val()
              $.get("/search/grade",{
                       "key_name":key_name,
                       "key_number":key_number,
                        "key_class":key_class,
                       "key_semester":key_semester,
              }, function(data){
                 $(".contentpanel").html(data)
});




    })
</script>

<div class="search_from">
    <input class="key_class_" type="text" placeholder="class_">
    <input class="key_word_name" type="text" placeholder="name">
    <input class="key_word_number" type="text" placeholder="number">
    <input class="key_word_semester" type="text" placeholder="semester">
    <button class="btn btn-blue search_button">search</button>
    <div class="receicve">
        {% if course %}
        {% for c in course %}
        {{c.semester}}
        <table class="grade_table">
        <tr>
            <td>课程号</td>
            <td>课程</td>
            <td>成绩</td>
            <td>课程类型</td>
        </tr>
             {% for k,v in c.iteritems() %}

             <tr>
                 <td>{{v.number}}</td>
                 {% if k != 'semester' %}
                 <td>{{k}}</td>
                 {% endif %}
                 <td>{{v.grade}}</td>
                 <td>{{v.type}}</td>
             </tr>
           {% endfor %}

        </table>

        {% endfor %}
        {% endif %}


      {% if courses %}

          <table class="grade_table">
          <tr>
            <td>学号</td>
            <td>姓名</td>
            <td>班级</td>
              {% for k,v in courses.iteritems() %}
                <td>{{k}}</td>
              {% endfor %}
          </tr>
               {% for g in grades %}

              <tr>
              <td>{{g.number}}</td>
              <td>{{g.name}}</td>
              <td>{{g.class_}}</td>
              {% for c,v in g.iteritems() %}

              <td>{{v.grade}}</td>
              {% endfor %}
              </tr>

               {% endfor %}
        </table>

        {% endif %}
</div>






