<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="InformationApp" ng-controller="HomeCtrl">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/jquery-2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/static/js/jquery-2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.11.4.custom/jquery-ui.min.js" ></script>

    <script type="text/javascript" src="/static/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/angular/angular.js"></script>
    <script type="text/javascript" src="/static/js/angular/angular-sanitize.min.js"></script>
    <link  href="/static/js/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/js/jqGrid-5.1.0/jqGrid.js"></script>
    <script type="text/javascript" src="/static/js/jqGrid-5.1.0/js/jquery.jqGrid.js"></script>
    <link type="text/css" href="/static/js/jqGrid-5.1.0/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jqGrid-5.1.0/js/jquery.jqGrid.min.js"></script>
    <script type="text/javascript" src="/static/js/jqGrid-5.1.0/js/i18n/grid.locale-en.js"></script>

    <script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/css/bootstrap.css"></script>
    <script type="text/javascript" src="/static/js/bootstrap/css/bootstrap.min.css"></script>


    <script type="text/javascript" src="/static/js/bootstrap/js/bootstrap.js"></script>
    <link  href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link  href="/static/css/font-awesome.css" rel="stylesheet" type="text/css"/>

    <!--<script type="text/javascript" src="/static/js/angular-bootstrap/ui-bootstrap.js"></script>-->
    <script type="text/javascript" src="/static/js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>

    <!--<script type="text/javascript" src="/static/js/angular-bootstrap/ui-bootstrap.min.js"></script>-->



    <script type="text/javascript" src="/static/js/toggles.min.js"></script>

    <script type="text/javascript" src="/static/js/custom.js"></script>
    <script type="text/javascript" src="/templates/course/course.js"></script>
    <script type="text/javascript" src="/templates/modal/modal.js"></script>
    <script type="text/javascript" src="/templates/base/student.js"></script>
    <script type="text/javascript" src="/templates/class/class.js"></script>
    <script type="text/javascript" src="/templates/grade/grade.js"></script>

    <link rel="stylesheet" href="static/css/panel.css"/>
    <link rel="stylesheet" href="static/css/home.css"/>
    <link rel="stylesheet" href="static/css/grade.css"/>
    <!--<script src="jquery.js"></script>-->
    <script src="/static/js/jquery.cxselect.js"></script>
    <script type="text/javascript" src="/templates/app.js"></script>
        <script type="text/javascript" src="/templates/qa/qa.js"></script>

    <title>Title</title>
<script>
    $(document).ready(function() {
      $('.navMenu a').each(function(){
            $(this).click(function(){
                if ( !$(this).parent().hasClass('nav-parent')){
                    $('.active').removeClass('active');
                    $(this).parent().addClass('active');
                }
            });
      });

      $(".navMenu a").click(function(){
           $(this).parent().children("ul").toggle()
      });
});
</script>
</head>

<body >

   <section>

     <div class="leftpanel">
           <div class="picture">
           <img src="/static/img/images/left/logo.png"  height="50" width="110">
       </div>
         <ul class="nav navMenu nav-bracket">
             <li class="nav-parent">
                 <a href  ng-click="openSubMenu($event)" id="概览">
                <i class="fa fa-server"></i><span>概览</span>
                <span class="glyphicon fs-sidebar-item-caret" ng-class="{'glyphicon-menu-down': '概览'!=showSubMenu, 'glyphicon-menu-up': '概览'==showSubMenu}" ></span>
            </a>
                 <ul class="children nav-bracket" style="display:none">
                    <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/subject/lists" id="subject"><i class="fa fa-desktop"></i><span>专业信息</span></a></li>
                     <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/message/add" id="subject"><i class="fa fa-desktop"></i><span>发布消息</span></a></li>
                     <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/message/check" id="subject"><i class="fa fa-desktop"></i><span>发布消息</span></a></li>

                     <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/class/lists" id="class"><i class="fa fa-desktop"></i><span>班级信息</span></a></li>
                 </ul>
             </li>
             <!--<li class="active"><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/student/lists" id="base"><i class="fs-circle"></i><span>基本信息</span></a></li>-->



             <!--<li><a href="/score/list" id="score_list"><i class="score_create"></i><span>成绩</span></a></li>-->
              <li class="nav-parent">
                 <a href  ng-click="openSubMenu($event)"  id="奖惩">
                <i class="fa fa-server"></i><span>奖惩信息</span>
                <span class="glyphicon fs-sidebar-item-caret" ng-class="{'glyphicon-menu-down': '奖惩信息查询'!=showSubMenu, 'glyphicon-menu-up': '奖惩信息查询'==showSubMenu}" ></span>
            </a>
             <ul class="children nav-bracket" style="display:none" >
                 <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/unpass" id="unpass"><i class="fs-circle"></i><span>获奖信息添加</span></a></li>
                 <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/courage/lists" id="courage"><i class="fs-circle"></i><span>获奖信息查看</span></a></li>
                 <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/punish" id="punish"><i class="fs-circle"></i><span>惩罚信息</span></a></li>
             </ul>
             </li>

              <li class="nav-parent">
                 <a href  ng-click="openSubMenu($event)"  id="成绩信息综合管理">
                <i class="fa fa-server"></i><span>成绩信息综合管理</span>
                <span class="glyphicon fs-sidebar-item-caret" ng-class="{'glyphicon-menu-down': '成绩信息综合管理'!=showSubMenu, 'glyphicon-menu-up': '成绩信息综合管理'==showSubMenu}" ></span>
            </a>
             <ul>
                 <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/course/lists" id="course_list"><i class="course_create"></i><span>课程录入</span></a></li>
                 <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/grade/lists" id="grade-input"><i class="fs-circle"></i><span>成绩列表</span></a></li>
             <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/score/list" id="score_list"><i class="score_create"></i><span>成绩审核</span></a></li>
             <li><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/attendance/lists" id="score_list"><i class="score_create"></i><span>成绩报表</span></a></li>
             </ul>
              </li>

            <li ><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/qa/question/lists" id="base"><i class="fs-circle"></i><span>在线问答系统</span></a></li>
             <li ><a href="javascript:;" ng-click="loadContentpanel($event)" realvalue="/role/lists" id="base"><i class="fs-circle"></i><span>用户管理</span></a></li>
         </ul>

     </div>

   <div class="rightpanel">
        <div class="header">
              <div class="show_user">

                  <div class="current-user">欢迎{{user.id}}({{ user.name}})</div>

       </div>
   </div>
       <div class="contentpanel">

          <div load-Content>

          </div>
      </div>

    </div><!-- contentpanel -->
   </section>
   <div id="global_confirm_modal" ng-controller="SelfConfirmModalCtrl"></div>
</body>

</html>