<script type="text/javascript">
      var enable_submit=true;
      function submit_course_create(){
     var bValid = true;
     var c_name=$("#course_name_id")
     var c_num=$("#course_create_modal").find("#course_num_id")
     var c_score=$("#course_create_modal").find("#course_score_id")
     <!--var c_type=$("#course_create_modal").find("#course_type_id")-->
     <!--var c_semester=$("#course_create_modal").find("#course_semester_id")-->
     <!--var c_teacher=$("#course_create_modal").find("#course_teacher_id")-->

     if(bValid){
         if(enable_submit) {
            enable_submit = false;
            var $submitBtn = $('.modal-footer').find('.btn-blue');
            $submitBtn.html('<i class="fa fa-spinner fa-spin" style="margin:3px 6px;"></i>');
             $('.rtn-tip').slideUp('fast');
              $.post("/course/create",{
                  "c_name":$.trim(c_name.val()),
                  "c_score":$.trim(c_score.val()),
                  "c_number":$.trim(c_num.val()),



              },function(data){
                  var data=eval("("+data+")");
                  console.log(typeof(data));
                  console.log(data);
                     if (data.reply.is_success){
                       angular.element('#course_create_button').scope().close();
                       <!--$('#course_available_tb').trigger("reloadGrid");-->
                       enable_submit = true;
                   }else{
                   console.log(typeof(data));
                    console.log(data);
                     var error = data.reply.error;
                     $('.rtn-tip').text(error).slideDown('fast');
                     $submitBtn.html('ok');
                     enable_submit = true;
                   }

                 });
                 $('#course_available_tb').trigger("reloadGrid");
                 }
              }
            }

</script>

<div class="modal-header">
    <h3>创建课程</h3>
</div>

<div class="modal-body modal-body-height" id="course_create_modal">
    <div class="course-create-box">
    <div class="rtn-tip"></div>
        <table class="base-info">
            <tr>
               <td>
                <label>课程名</label><a>*</a>
               </td>
               <td colspan="3">
                  <input id="course_name_id" name="course_name" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="course_name"></i>
               </td>
            </tr>
            <tr>
               <td>
                <label>课程号</label><a>*</a>
               </td>
               <td >
                  <input id="course_num_id" name="course_num" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="course_num"></i>
               </td>
            </tr>
             <tr>
               <td>
                <label>学分</label><a>*</a>
               </td>
               <td >
                  <input id="course_score_id" name="course_score" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="course_score"></i>
               </td>
            </tr>
            <!--<tr>-->
               <!--<td>-->
                <!--<label>学期</label><a>*</a>-->
               <!--</td>-->
               <!--<td >-->
                  <!--<input id="course_semester_id" name="course_semester" size="25" max="10000" min="1" type="text"/>-->
                 <!--<i class="fa fa-question-circle" itype="course_semester"></i>-->
               <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
               <!--<td>-->
                <!--<label>类型</label><a>*</a>-->
               <!--</td>-->
               <!--<td >-s->
                  <!--<input id="course_type_id" name="course_type" size="25" max="10000" min="1" type="text"/>-->
                 <!--<i class="fa fa-question-circle" itype="course_type"></i>-->
               <!--</td>-->
            <!--</tr>-->

        </table>
    </div>
        <div class="error-tip">
           <p></p><span></span>
        </div>
        <div class="tip">
           <p></p><span></span>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-blue" ng-click="ok()">ok</button>
    <button class="btn btn-white" ng-click="cancel()">cancel</button>
</div>
