
<div>

    <div class="tableinfo">

        <input type="text" name="course_col_start"> <input type="text" name="course_col_end">
        <input type="text" name="course_row_start"> <input type="text" name="course_row_end">
     <input type="text" name="people_col_start"> <input type="text" name="people_col_end">
        <input type="text" name="people_row_start"> <input type="text" name="people_row_end">
    </div>
    <div>
        <form action="/grade/deal" method="POST" enctype="multipart/form-data">
            <label>学院</label>
            <input type="text" name="college">
            <label>专业</label>
            <input type="text" name="subject">
            <label>班级</label>
            <input type="text" name="class_">
            <label>学期</label>
           <input type="text" name="semester">
            <label>上传成绩</label>
            <input type="file" name="file">
            <label>提交</label>
          <input type="submit" value="Upload">
        </form>
    </div>
</div>
