<script type="text/javascript">
      var enable_submit=true;
      function submit_competition_create(){
     var bValid = true;
     var title=$("#competition_create_modal").find("#competition_title_id")
      var name=$("#competition_create_modal").find("#competition_name_id")
     var class_=$("#competition_create_modal").find("#competition_class_id")

     var members=$("#competition_create_modal").find("#competition_member_id")
     var time=$("#competition_create_modal").find("#competition_time_id")
     var type=$("#competition_create_modal").find("#competition_type_id")


     if(bValid){
         if(enable_submit) {
            enable_submit = false;
            var $submitBtn = $('.modal-footer').find('.btn-blue');
            $submitBtn.html('<i class="fa fa-spinner fa-spin" style="margin:3px 6px;"></i>');
             $('.rtn-tip').slideUp('fast');
              $.post("/competition/add",{
                  "name":$.trim(name.val()),
                  "class_":$.trim(class_.val()),
                  "title":$.trim(title.val()),
                  "members":$.trim(members.val()),
                  "time":$.trim(time.val()),
                  "type":$.trim(type.val()),


              },function(data){
                  var data=eval("("+data+")");
                  console.log(typeof(data));
                  console.log(data);
                     if (data.reply.is_success){
                       angular.element('#competition_add_button').scope().close();
                       <!--$('#competition_available_tb').trigger("reloadGrid");-->
                       enable_submit = true;
                   }else{
                   console.log(typeof(data));
                    console.log(data);
                     var error = data.reply.error;
                     $('.rtn-tip').text(error).slideDown('fast');
                     $submitBtn.html('ok');
                     enable_submit = true;
                   }

                 });
                 $('#competition_available_tb').trigger("reloadGrid");
                 }
              }
            }


</script>

<div class="modal-header">
    <h3>参赛信息添加</h3>
</div>

<div class="modal-body modal-body-height" id="competition_create_modal">

    <div class="competition-create-box">
    <div class="rtn-tip"></div>
        <table class="base-info">
            <tr>
               <td>
                <label>题目</label><a>*</a>
               </td>
               <td colspan="3">
                  <input id="competition_title_id" name="competition_title" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="competition_title"></i>
               </td>
            </tr>
            <tr>
               <td>
                <label>名字</label><a>*</a>
               </td>
               <td colspan="3">
                  <input id="competition_name_id" name="competition_name" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="competition_name"></i>
               </td>
            </tr>
            <tr>
               <td>
                <label>班级</label><a>*</a>
               </td>
               <td colspan="3">
                  <input id="competition_class_id" name="competition_class" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="competition_class"></i>
               </td>
            </tr>
            <tr>
               <td>
                <label>组队成员</label><a>*</a>
               </td>
               <td>
                  <input id="competition_member_id" name="competition_memeber" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="competition_member"></i>
               </td>
            </tr>

            <tr>
               <td>
                <label>获奖时间</label><a>*</a>
               </td>
               <td >
                  <input id="competition_time_id" name="comprtition_time" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="competition_time"></i>
               </td>
            </tr>
            <tr>
               <td>
                <label>类型</label><a>*</a>
               </td>
               <td >
                  <input id="competition_type_id" name="competition_type" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="competition_type"></i>
               </td>
            </tr>
            <tr>
               <td>
                <label>级别</label><a>*</a>
               </td>
               <td >
                  <input id="competition_level_id" name="competition_level" size="25" max="10000" min="1" type="text"/>
                 <i class="fa fa-question-circle" itype="competition_level"></i>
               </td>
            </tr>

        </table>
    </div>
        <div class="error-tip">
           <p></p><span></span>
        </div>
        <div class="tip">
           <p></p><span></span>
        </div>
</div>
<div class="modal-footer">
    <button class="btn btn-blue" ng-click="ok()">ok</button>
    <button class="btn btn-white" ng-click="cancel()">cancel</button>
</div>
